@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    overflow-x: hidden;
    background-color: #dddddd;
}

/* ЦВЕТА ТЕКСТА */

.calm{
    text-decoration: none;
    color: #dddddd;
}

.bright{
    text-decoration: none;
    color: #fafafa;
}

/* НАЧАЛО СТРАНИЦЫ */

.top{
    background: url(menubg.jpg);
    background-position: center;
    background-size: cover;
}

/* НАВБАР */

nav{
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}

#checkbox-nav,
.toggle{
    display: none;
}

.menu{
    background-color: #4f565e71;
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a.logo{
    font-size: larger;
    font-weight: bold;
    padding-right: 40vw;
}

.menu li a.link{
    text-decoration: none;
    align-self: center;
    padding: 10px 15px;
    border-radius: 15px;
    transition: all .3s ease-out;
}

#mlink{
    transition: all .3s ease-out;
}

.menu li a.link:hover, .intro-link:hover{
    background: #ff7d2646;
    color:white;
}

/* ИНТРО */

#intro{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#greeting{
    text-align: center;
    text-shadow: 0px 0px 20px black;
    font-size: 50px;
    font-weight: lighter;
}

.descript{
    width:85%;
    font-size: medium;
    text-align: center;
}

.intro-links{
    padding-right: 5px;
    padding-bottom: 3px;
    display: flex;
    justify-content: flex-end;
}

.intro-link{
    font-size: medium;
    background-color: #9fabb82c;
    border-radius: 15px;
    padding: 10px;
    margin: 2px;
    user-select: none;
    text-decoration: none;
    transition: all .3s ease-out;
}

#mlink:active{
    transform: scale(1.2);
}

.intro-link:active, .download-btn:active{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px #00000050;
    
}

.section-name{
    padding: 15px;
    padding-bottom: 0;
    padding-left: 25px;
    border-radius: 15px;
    font-weight: lighter;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Музыка */

.post-section{
    color:black;
    background-color: #dddddd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
}

.music-type{
    font-size: smaller;
}

.audio-post{
    box-shadow: 0px 0px 15px #00000020;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    margin: 15px 15px 15px 15px;
    margin-bottom: 0;
    border-radius: 15px;
}

.post-info{
    margin: 10px 10px 0 15px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-pic{
    width: 45%;
    border-radius: 20px;
    padding: 5px;
}

audio{
    width: 85%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000002c;
}

.audio{
    background-color: #f0f0f0;
    width: 97%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.download-btn{
    width: 22px;
    height: 22px;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(241, 243, 244);
    transition: all .2s ease;
    box-shadow: 0px 0px 3px #0000002c;
}

/* ВИДЕО */

.video-post{
    box-shadow: 0px 0px 15px #00000020;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: #f0f0f0;
    margin: 15px 15px 15px 15px;
    margin-bottom: 0;
    border-radius: 15px;
}

.video-text{
    margin-top: 10px;
}

.video-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    margin: 20px 25px 20px 25px;
    width: 700px;
    height: 394px;
    box-shadow: 0px 0px 5px #0000006e;
}

.video-section {
    color:black;
    background-color: #dddddd;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
}
/* АДАПТИВНЫЙ */

@media screen and (min-width: 1200px) {

    .post-section{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .video-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .video{
        width: 534px;
        height: 300px;
    }

    .menu li a.logo{
        padding-right: 60vw;
    }

}

@media screen and (max-width: 765px) {

    /* НАВБАР */

    .toggle{
        clear: both;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        line-height: 50px;
        width: 100%;
        color: #fafafa;
        background: #4f565e71;
    }

    .toggle a.logo{
        font-size: large;
        font-weight: bold;
        padding-left: 20px;
    }
    
    .burger{
        height: 23px;
        margin-right: 15px;
        transition: all .3s ease;
    }

    .burger:active{
        transform: scale(1.3);
    }

    #checkbox-nav:checked + label .touch{
        opacity: 1;
        box-shadow: 0px 0px 10px #00000081;
        transform: translateX(-205px);
    }


    .menu{
        background-color: #131416ce;
        position: absolute;
        right: -200px;
        top: 55px;
        width: 150px;
        height: 250px;
        border-radius: 15px;
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all .4s ease;
    }

    .menu li a.logo{
        display: none;
    }

    .menu li{
        padding-bottom: 30px;
        opacity: 1;
    }

    /* ИНТРО */

    #greeting{
        font-size: 6vw;
    }

    .descript{
        font-size: 11pt;
    }

    .intro-link{
        text-decoration: none;
        font-size: small;
    }

    .post-section{
        display: flex;
    }

    .video{
        max-width: 410px;
        width: 96%;
        height: 230px;
    }

}