.video-aspect-ratio {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aspect-ratio_inner-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.video-image {
    border-radius: 15px;
    cursor: pointer;
}

.play {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}